.tribe-bulkbar.wrap(ng-class="{opened: (selectedCount > 0)}")
    .inner-wrap
        .bulk-check(
            ng-class="{'all-checked': allChecked}",
            ng-click="checkAll(!allChecked)",
            ng-if="showAllChecker"
        )
            i.fa.fa-check
        .selected-items
            strong {{selectedCount}} / {{(options && options.totalCount) ? options.totalCount : itemsCount}}
            //span Items selected
        ul.bulk-options
            li.list-item(
                ng-repeat="operator in operatorItems",
                ng-click="applyBulk(operator)"
            )
                a(
                    class="{{operator.itemClass}}",
                    tribe-tooltip="{{operator.tooltip}}",
                    tribe-tooltip-position="top"
                )
                    i.fa(class="{{operator.iconClass}}")
        .instructions
            strong ctrl+click
            span to select,
            strong.click(ng-click="checkAll(false)") esc
            span to deselect all